<nav>
  <ul id="navhover">
    <li><span class="white">Welcome, {{user.username}}!</span></li>
    <li> <a href="/">Home</a></li>
    <li> <a href="/">Dog Listings</a></li>
    <li> <a href="/logout">Log Out</a></li>
  </ul>
</nav>
<header class="headerprofile">

<h1><span class="babyblue">Bio:</span></</h1>

<h2>{{user.bio}}</h2>

<a href="/profile/edit/{{user._id}}">Edit</a>



{{!-- <form action="/profile/update/{{user._id}}" method="post">
  <input type="text" name="brand" value="{{user.bio}}">
  <input type="submit" value="Submit Changes">
</form> --}}

</header>

{{!-- 
{{#if user}}
<br><br><br>
  <div>
    <a href="/">Index</a>
    <a href="/logout">Log Out</a>
  </div>
{{/if}} --}}

