<nav>
  <ul id="navhover">
    <li><span class="white" id="welcome">Welcome, <span class="babyblue">{{user.username}}</span></span></li>
    <li> <button><a href="/">Home</a></li></button>
    <li><button><a href="/profile/{{user._id}}">Profile</a></li></button>
    <li><button><a href="/logout">Log Out</a></li></button>
  </ul>
</nav>


<header class="headerdoglist">
<div class="doglistposition">

<h1 class="babyblue">Dog Listings</h1>
<ul>

{{#each theList}}
<li>
   <div class="dogprofileimg">
<a href="/profile/{{this.createdBy}}">
<img src="{{this.imgPath}}" alt="">
</a>
   </div>
 
Name: {{this.name}}
Breed: {{this.breed}}
Age: {{this.age}}
Owner: {{this.owner}}
</li>
{{/each}}
</ul>
</div>
</header>


{{!-- <footer>

  <div class="terms">
  <p>Copyright © Master Breed 2018</p>
  </div>

  <div>
  <ul>
    <li><a href="#"><img src="./images/facebookicon.png" alt="facebookicon"></a></li>
    <li><a href="#"><img src="./images/twittericon.png" alt="twittericon"></a></li>
    <li><a href="#"><img src="./images/emailicon.png" alt="emailicon"></a></li>
  </ul>
  </div>

  <div class="terms">
    <ul>
      <li><a href="#"><span class="blue">Privacy Policy</span></a></li>
      <li><a href="#"><span class="blue">Terms of Use</span></a></li>
    </ul>
  </div>



</footer> --}}